.address {
  margin-left: 2rem;

  flex: 1;
  h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  .form-row {
    margin: 1rem 0;
    font-size: 1.7rem;
    letter-spacing: 1px;
    label {
      width: 100%;
      margin: auto;
      text-align: left;
      display: block;
      padding-bottom: 0.5rem;
    }

  }
}

@media screen and (max-width: 1200px) {
  .address h2 {
    font-size: 1.75rem;
  }
}

::placeholder {
  font-size: 1rem;
  color: #777;
}
