.address {
  margin-left: 2rem;

  flex: 1;
  h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
  }
  .form-row {
    margin: 1rem 0;
    font-size: 1.5rem;
    label {
      width: 100%;
      margin: auto;
      text-align: left;
      display: block;
      padding-bottom: 0.5rem;
    }
    input {
      width: 90%;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
      margin: auto;
      margin-right: 10rem;
      display: block;
      padding: 1rem;
      border: #ddd solid 1px;
      border: none;
      font-size: 1.25rem;
      color: #555;
      &:focus-visible {
        box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
        // border: #ddd solid 1px;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .address h2 {
    font-size: 1.75rem;
  }
}

::placeholder {
  font-size: 1rem;
  color: #777;
}
