.type-chooser {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  // margin-top: 1rem;
  div {
    cursor: pointer;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: #666;
      cursor: unset;
      color: white;
    }
  }
}
