@import "../scss/global.scss";
footer {
  width: 100vw;
  background-color: rgba($color: black, $alpha: 0.1);
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0px;
  height: $footerHeight;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.homescreen + footer {
  background-color: rgba($color: black, $alpha: 0.4);
  color: white;
}
