nav.navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #eeeeee;
  border-bottom: 1px solid #ccc;

  .container {
    div {
      cursor: pointer;
      img {
        margin-top: 0.2rem;
        height: 40px;
      }
      .title {
        vertical-align: 2px;
        font-size: 3rem;
        letter-spacing: 0.25rem;
        margin-left: 0.75rem;
      }
    }
  }
}
