.address-order {
  margin: auto;
  margin-top: 2rem;
  border-left: 1px solid #aaa;

  font-size: 1.5rem;

  svg {
    height: 1.75rem;
    width: 1.75rem;
    width: 25px;
    vertical-align: top !important;
  }

  .grid {
    max-width: 550px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    place-items: start;
  }
}
@media screen and (max-width: 500px) {
  .address-order {
    .grid {
      max-width: 250px;
      grid-template-columns: 1fr;
    }
  }
}
