@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@400;500;600;700&family=Lobster&family=Mate+SC&family=Roboto&family=Roboto+Condensed:wght@400;500;600&family=Teko:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Mate+SC&family=Roboto+Condensed&family=Roboto:wght@400;500&family=Teko:wght@400;500&display=swap");

$footerHeight: 50px;

body {
  font-family: "Big Shoulders Display", cursive;
  transition: all 0.3s ease-in;
  color: #333;
}
html {
  background: radial-gradient(at top left, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  font-size: 12px;
  min-height: 100vh;
}

h1 {
  &.front-page {
    font-size: 96px;
    font-family: "Big Shoulders Display", cursive;
    letter-spacing: 0.5rem;
    margin-top: 25vh;
    color: #888;
  }
}
h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  letter-spacing: 1px;
}
h3 {
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
}

svg {
  vertical-align: middle !important;
}

.App {
  margin-bottom: $footerHeight + 12px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
  width: 1500px;
  margin: auto;
}

.mt {
  margin-top: 2rem !important;
}

input {
  font-family: "Roboto Condensed", sans-serif;
  width: 90%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin: auto;
  margin-right: 10rem;
  display: block;
  padding: 1rem;
  border: #ddd solid 1px;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #555;
  &:focus-visible {
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

button {
  transition: 0.2s all ease-in;
  font-family: "Bebas Neue", cursive;
  font-family: "Lobster", cursive;
  font-family: "Mate SC", serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Teko", sans-serif;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  letter-spacing: 1px;

  &.big {
    background-color: #666;
    letter-spacing: 0.15rem;
    font-size: 2rem;
    padding: 1.25rem 2.5rem;
    color: white;
  }

  &.small {
    background-color: #666;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &.wide {
    margin-top: 2rem;
    width: 400px;
  }

  &.transparent {
    &::before {
      transition: all 0.3s ease-in;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: black;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.15;
    }
  }
  &:hover {
    background-color: #444;
  }
  &:hover::before {
    opacity: 0.2;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 100vw;
    margin: auto;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: unset;
}

.flex {
  display: flex;
}

img {
  border-radius: 4px !important;
}

.mr-5 {
  margin-right: 8rem;
}
