.all-orders {
  table {
    color: #111;
    font-size: 1.4rem;
    font-weight: 600;
    border-collapse: collapse;
    margin: auto;
    thead {
      font-size: 1.5rem;

      th {
        padding: 1rem 0.5rem;
      }
    }
    tbody {
      margin-top: 1rem;
    }
    td {
      padding: 0.4rem 1rem;
      border: none;
      &.email,
      &.name,
      &.address {
        min-width: 160px;
      }
    }
    tr:nth-of-type(odd) {
      background-color: #eaeaea;
    }
    td:last-of-type {
      border-left: 1px solid #ddd;
      padding-left: 1rem;
    }
  }
  button {
    padding: 0.25rem 1rem !important;
  }
  ul.react-paginate {
    margin: auto;
    margin-top: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    li {
      min-width: 50px;
      // border: 1px solid #aaa;
      padding: 1rem 0;
      font-weight: 600;

      font-size: 2rem;
      &.selected {
        background-color: rgba(0, 90, 180, 0.75);
        color: white;
        a:hover {
          background-color: inherit;
        }
      }
      a {
        cursor: pointer;
        padding: 1rem 2rem;
        transition: all 0.2s ease-in;
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }

  .form-row {
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    .form-col {
      label {
        font-size: 1.5rem;
        font-weight: 600;
      }
      input {
        margin-top: 0.25rem;
        padding: 0.75rem;
        &.get-past {
          margin-top: 9px;
          height: 20px;
        }
      }
    }
  }
}
