@import "../scss/global.scss";
.homescreen {
  button.big {
    background-color: rgba(252, 206, 122, 0.75);
    color: #333;
    font-weight: 1000;
    &:hover {
      background-color: rgba(252, 206, 122, 1);
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .carousel-root {
    .carousel.carousel-slider {
      position: absolute !important;
      top: 0;
      z-index: -1;
      img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        filter: brightness(30%);
      }
    }

    .carousel .control-next.control-arrow::before {
      border-left: 20px solid #fff !important;
    }

    .carousel .control-prev.control-arrow::before {
      border-right: 20px solid #fff;
    }

    .carousel .control-arrow::before,
    .carousel.carousel-slider .control-arrow::before {
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
  }
}
