.grid-center {
  display: grid;
  place-items: center;
}

.summary {
  margin-top: 3rem;
}

.flex-grow h1 {
  margin-bottom: 1rem;
}

.grid-justify-center {
  display: grid;
  justify-items: center;
}

.indicator-volume {
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  width: 95%;
}

.circle-trouble {
  font-size: 1.25rem;
}

.scooter {
  width: 30px;
  height: auto;
}

.flex-grow {
  flex-grow: 2;
}
