// // .customOverlay {
// //   background: rgba(36, 123, 160, 0.7);
// // }
// .ReactModal__Content {
//   color: white;
//   // height: 400px;
//   // width: 30%;
//   // margin: auto
//   border: 1px solid red !important;
//   background-color: white !important;
// }

.ReactModal__Content.book-modal {
  padding-top: 1rem !important;
  color: #333333;
  width: 30vw;
  min-width: 200px;
  max-width: 400px;
  min-height: 300px;
  position: fixed;
  border-width: 1px;
  background-color: #ddd !important;
  margin: auto;
  text-align: center;
  margin-bottom: 15vh;
  border-radius: 50px;
  .name-phone {
    display: flex;
    justify-content: center;
    gap: 2rem;
    input.name,
    input.phone {
      margin-right: 0;
      height: 20px;
      padding: 5px;
      font-size: 1rem;
      background-color: #ddd;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
      box-shadow: none;
      border: 1px solid #bbb;
      border-radius: 3px;
      padding-left: 1rem;
      &:focus {
        -webkit-box-shadow: 0px 0px 3px 3px rgba(51, 51, 51, 0.2);
        box-shadow: 0px 0px 3px 2px rgba(51, 51, 51, 0.2);
        border-color: transparent;
      }
    }
  }
  h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  hr {
    border-color: #ccc;
    margin-bottom: 1rem;
  }
}

.ReactModal__Overlay {
  display: grid;
  place-items: center;
}

.people {
  display: flex;
  justify-content: center;
  .person {
    cursor: pointer;
    width: 25px;
    padding: 0.75rem 0rem;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin: 1rem 0.2rem;
    &.active {
      border-color: #444;
    }
  }
}

.react-date-picker__wrapper {
  border: 1px solid #bbb !important;
  border-radius: 2px;
  padding: 0.7rem 1rem !important;
}

.react-date-picker,
.react-date-picker *,
.react-date-picker ::before,
.react-date-picker ::after {
  margin-left: 0;
  margin-right: 5px;
}

.react-date-picker__inputGroup__input {
  background-color: #d6d6d6 !important;
}

.react-date-picker__inputGroup__input.react-date-picker__inputGroup__year {
  width: 20px !important;
}

.react-date-picker__inputGroup {
  display: flex;
}
.react-date-picker__inputGroup__input.react-date-picker__inputGroup__day {
  max-width: 20px;
}

.react-calendar__tile {
  padding: 0.3rem !important;
}

.react-calendar__tile--active:enabled {
  background-color: rgba(0, 110, 220, 0.75) !important;
}

.react-calendar__month-view__weekdays__weekday {
  // font-size: 1rem !important;
  text-decoration: none !important;
  line-height: 0.07rem;
  overflow: hidden !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem !important;
  abbr {
    font-size: 0.9rem !important;
  }
}

.react-date-picker__inputGroup__input {
  &:focus-visible {
    border: none !important;
    outline: none !important;
  }
}
.react-date-picker {
  margin: 0.75rem 0;
}

.react-date-picker__inputGroup__input:invalid {
  background: none !important;
}

.react-date-picker__inputGroup__input {
  outline: none !important;
  padding: 0 3px !important;
}

.react-date-picker__inputGroup {
  min-width: unset !important;
}

.react-calendar {
  font-family: "Big Shoulders Display" !important;
  padding: 0.5rem;
  border: none !important;
  background-color: #ddd !important;
}

.react-calendar__tile:disabled {
  background-color: unset !important;
  color: #999;
}

.react-calendar__tile--now {
  background-color: #ddd !important;
}

.react-date-picker__calendar {
  width: 200px !important;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 0px 15px 10px rgba(51, 51, 51, 0.2);
}
.react-calendar__navigation {
  margin-bottom: 0 !important;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none !important;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  font-size: 2rem !important;
}

.react-calendar__month-view__days__day {
  color: #222;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc !important;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled {
  color: #ddd !important;
}

.react-calendar__navigation__arrow:disabled {
  pointer-events: none !important;
  opacity: 0;
}

.react-date-picker__calendar-button {
  color: #777;
  &:hover {
    color: white;
  }
}
button:disabled {
  // display: none;
  pointer-events: none;
}

.date-time {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.time-select-wrapper {
  .time-select {
    margin: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    &.select {
      width: 100%;
    }
  }
}

.select input {
  margin-right: 0;
}

// .css-tlfecz-indicatorContainer {
//   display: none !important;
// }
.css-2b097c-container {
  min-width: 50px !important;
  margin: 0 0.5rem;
  // height: 66px !important;
}
.css-g1d714-ValueContainer {
  .css-1uccc91-singleValue {
    width: 30px !important;
  }
}

.css-e56m7-control {
  background-color: #ddd !important;
}
.css-e56m7-control {
  border-radius: 2px !important;
  border: 1px solid #bbb !important;
}

// .select {
//   div {
//     // display: none;
//     div {
//       padding: 0.5rem;
//     }
//   }
// }

.css-4ljt47-MenuList {
  div {
    color: #333;
    padding: 0.25rem;
    cursor: pointer;
  }
}
